In [2]:
import pandas as pd
from datetime import datetime
import time as time

In [3]:
DATA_FILE = 'rideshare_kaggle.csv'
uber_data = pd.read_csv(DATA_FILE)
uber_data.shape

(693071, 57)

In [6]:
columns = uber_data.columns
for c in columns:
    if uber_data[uber_data[c].isnull()][c].shape[0] !=0:
        print(c)

price

In [ ]:
df = pd.read_csv

In [18]:
(uber_data[uber_data['price'].isnull()].shape[0])/uber_data.shape[0]b

0.07949402009317949

uber_data.name.value_counts()

In [64]:
uber_data.loc[20]

id                             3ef5c509-f292-42ef-b39c-bce7059006a0
timestamp                                       2018-11-27 14:18:22
hour                                                             19
day                                                              27
month                                                            11
datetime                                        2018-11-27 19:18:22
timezone                                           America/New_York
source                                                North Station
destination                                        Haymarket Square
cab_type                                                       Lyft
name                                                      Lux Black
price                                                          16.5
distance                                                       0.72
surge_multiplier                                                  1
latitude                                                    42.3661
longitude                                                  -71.0631
temperature                                                   42.95
apparentTemperature                                           37.54
short_summary                                        Mostly Cloudy
long_summary                            Light rain in the morning.
precipIntensity                                                   0
precipProbability                                                 0
humidity                                                       0.72
windSpeed                                                      9.42
windGust                                                       13.8
windGustTime                                             1543338000
visibility                                                       10
temperatureHigh                                               46.83
temperatureHighTime                                      1543320000
temperatureLow                                                33.75
temperatureLowTime                                       1543399200
apparentTemperatureHigh                                       43.85
apparentTemperatureHighTime                              1543320000
apparentTemperatureLow                                        29.97
apparentTemperatureLowTime                               1543399200
icon                                             partly-cloudy-day
dewPoint                                                      34.56
pressure                                                     990.25
windBearing                                                     257
cloudCover                                                     0.81
uvIndex                                                           0
visibility.1                                                     10
ozone                                                         313.6
sunriseTime                                              1543319471
sunsetTime                                               1543353345
moonPhase                                                      0.68
precipIntensityMax                                           0.1433
uvIndexTime                                              1543338000
temperatureMin                                                36.13
temperatureMinTime                                       1543377600
temperatureMax                                                46.83
temperatureMaxTime                                       1543320000
apparentTemperatureMin                                        32.05
apparentTemperatureMinTime                               1543377600
apparentTemperatureMax                                        43.85
apparentTemperatureMaxTime                               1543320000
Name: 20, dtype: object

In [20]:
uber_data.cab_type.value_counts()

Uber    385663
Lyft    307408
Name: cab_type, dtype: int64

In [21]:
uber_data.product_id.value_counts()

6d318bcc-22a3-4af6-bddd-b409bfce1546    55096
6f72dfc5-27f1-42e8-84db-ccc7a75f6969    55096
9a0e7b09-b92b-4c41-9779-2ad22b4d779d    55096
6c84fd89-3f11-4782-9b50-97c468b19529    55095
8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a    55095
55c66225-fbe7-4fd5-9072-eab1ece5e23e    55094
997acbb5-e102-41e1-b155-9df7de0a73f2    55091
lyft_luxsuv                             51235
lyft_premier                            51235
lyft_lux                                51235
lyft_plus                               51235
lyft                                    51235
lyft_line                               51233
Name: product_id, dtype: int64

In [25]:
time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(1347517370))

'2012-09-13 02:22:50'

In [28]:
uber_data.timestamp = uber_data['timestamp'].apply(lambda x:time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(x)))

In [32]:
uber_data[['id','timestamp','datetime']].head()

,id,timestamp,datetime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,2018-12-16 04:30:07,2018-12-16 09:30:07
1,4bd23055-6827-41c6-b23b-3c491f24e74d,2018-11-26 21:00:23,2018-11-27 02:00:23
2,981a3613-77af-4620-a42a-0c0866077d1e,2018-11-27 20:00:22,2018-11-28 01:00:22
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,2018-11-29 23:53:02,2018-11-30 04:53:02
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,2018-11-28 22:49:20,2018-11-29 03:49:20

In [6]:
uber_data.destination.value_counts()

Financial District         58851
Theatre District           57798
Back Bay                   57780
Boston University          57764
Haymarket Square           57764
Fenway                     57757
North End                  57756
Northeastern University    57755
South Station              57749
West End                   57575
Beacon Hill                57403
North Station              57119
Name: destination, dtype: int64

In [42]:
uber_data.drop('product_id',axis=1,inplace=True)

In [54]:
uber_data['name'].value_counts()

Black SUV       55096
WAV             55096
UberXL          55096
Black           55095
Taxi            55095
UberX           55094
UberPool        55091
Lux Black       51235
Lyft XL         51235
Lyft            51235
Lux             51235
Lux Black XL    51235
Shared          51233
Name: name, dtype: int64

In [60]:
uber_data = uber_data[~ uber_data.price.isnull()]

In [67]:
uber_data.to_csv('NYC_Uber_Lyft_Weather.csv')

In [4]:
df = pd.read_csv('NYC_Uber_Lyft_Weather.csv')

In [5]:
df.shape

(637976, 57)

In [6]:
df = pd.read_csv('uber-pickups-in-new-york-city/other-American_B01362.csv')

# Uber Aggreagation

In [7]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir('uber-pickups-in-new-york-city/') if isfile(join('uber-pickups-in-new-york-city/', f))]

In [8]:
uber_data = [i for i in onlyfiles if (i.split('-')[0] == 'uber') & (i.split('-')[-1] != '15.csv')]

In [9]:
uber_data

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-sep14.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv']

In [16]:
uber_foil = pd.read_csv('uber-pickups-in-new-york-city/Uber-Jan-Feb-FOIL.csv')

In [3]:
apr = pd.read_csv('uber-pickups-in-new-york-city/uber-raw-data-apr14.csv')
apr.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [4]:
may = pd.read_csv('uber-pickups-in-new-york-city/uber-raw-data-may14.csv')
may.head()

          Date/Time      Lat      Lon    Base
0  5/1/2014 0:02:00  40.7521 -73.9914  B02512
1  5/1/2014 0:06:00  40.6965 -73.9715  B02512
2  5/1/2014 0:15:00  40.7464 -73.9838  B02512
3  5/1/2014 0:17:00  40.7463 -74.0011  B02512
4  5/1/2014 0:17:00  40.7594 -73.9734  B02512

In [5]:
df = apr

In [10]:
for i in uber_data:
    location = 'uber-pickups-in-new-york-city/{}'.format(i)
    print(location)
    t = pd.read_csv(location)
    print(t.head(2))
    df = df.append(t, ignore_index=True)

uber-pickups-in-new-york-city/uber-raw-data-apr14.csv
          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
uber-pickups-in-new-york-city/uber-raw-data-aug14.csv
          Date/Time      Lat      Lon    Base
0  8/1/2014 0:03:00  40.7366 -73.9906  B02512
1  8/1/2014 0:09:00  40.7260 -73.9918  B02512
uber-pickups-in-new-york-city/uber-raw-data-sep14.csv
          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
uber-pickups-in-new-york-city/uber-raw-data-jul14.csv
          Date/Time      Lat      Lon    Base
0  7/1/2014 0:03:00  40.7586 -73.9706  B02512
1  7/1/2014 0:05:00  40.7605 -73.9994  B02512
uber-pickups-in-new-york-city/uber-raw-data-jun14.csv
          Date/Time      Lat      Lon    Base
0  6/1/2014 0:00:00  40.7293 -73.9920  B02512
1  6/1/2014 0:01:00  40.7131 -74.0097  B02512
uber-pickups-in-new-york-city/uber-raw-data-may14.csv
          Date/Time      Lat      Lon    Base
0  5/1/2014 0:02:00  40.7521 -73.9914  B02512
1  5/1/2014 0:06:00  40.6965 -73.9715  B02512

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5098843 entries, 0 to 5098842
Data columns (total 4 columns):
Date/Time    object
Lat          float64
Lon          float64
Base         object
dtypes: float64(2), object(2)
memory usage: 155.6+ MB

In [53]:
df.sample(10)

                  Date/Time      Lat      Lon    Base
1100395  4/29/2014 14:18:00  40.7414 -73.9939  B02682
4787142  5/12/2014 23:51:00  40.7371 -73.9927  B02617
2337024    9/9/2014 5:11:00  40.7420 -73.9806  B02617
3404583   7/17/2014 8:41:00  40.7448 -73.9830  B02617
4470605  5/20/2014 14:41:00  40.7340 -73.9910  B02512
2648808   9/6/2014 19:20:00  40.7581 -73.9626  B02682
578906   4/12/2014 15:44:00  40.7482 -73.9894  B02512
3958234   6/18/2014 9:24:00  40.7677 -73.8614  B02598
3750006  7/28/2014 14:37:00  40.7166 -74.0011  B02682
4544134   5/8/2014 15:20:00  40.7535 -73.9749  B02598

In [11]:
df.rename(columns={'Date/Time':'Date'},inplace=True)

In [12]:
df.to_csv('NYC_Uber_Pickup_AprToSep_14.csv')

In [ ]:
cab_rides = pd.read_csv('uber-lyft-cab-prices/cab_rides.csv')

In [ ]:
cab_rides.head()

In [59]:
cab_rides.surge_multiplier.describe()

count    693071.000000
mean          1.013870
std           0.091641
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           3.000000
Name: surge_multiplier, dtype: float64

In [60]:
cab_rides.surge_multiplier.value_counts()

1.00    672096
1.25     11085
1.50      5065
1.75      2420
2.00      2239
2.50       154
3.00        12
Name: surge_multiplier, dtype: int64

In [13]:
df.sample(10)

                       Date      Lat      Lon    Base
2697681  9/13/2014 19:07:00  40.7543 -73.9916  B02682
4321557  6/12/2014 17:19:00  40.7285 -73.9800  B02682
3751774  7/28/2014 19:49:00  40.7585 -73.9777  B02682
4706909   5/28/2014 0:49:00  40.7592 -73.9845  B02598
2939705   9/25/2014 6:42:00  40.7284 -74.0037  B02764
2078298  9/11/2014 17:04:00  40.7389 -73.9929  B02598
3303455    7/7/2014 6:45:00  40.6450 -73.7819  B02617
4534404   5/7/2014 15:58:00  40.7508 -73.9745  B02598
2229763  9/30/2014 16:07:00  40.7734 -73.9632  B02598
3585225   7/2/2014 12:36:00  40.7260 -73.9984  B02682